body {
    margin: 0%;
    color: black;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100vw;
    height: 100vh;
    background: black; 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.logo{
    width: 50%;
    text-align: center;
}

.login-container{
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}